#lombok默认对boolean类型字段生成的 get方法使用is前缀,通过此配置则使用get前缀 (默认:false)
lombok.getter.noIsPrefix=false
#默认的set方法返回 void 设置为true 返回调用对象本身 (默认:false)
lombok.accessors.chain=true
#如果设置为true. get,set方法将不带get,set前缀,直接以字段名为方法名 (默认:false)
lombok.accessors.fluent=false
#设置 log 类注解返回的字段名称 (默认:log)
lombok.log.fieldName=logger